/* Este body es provisional solo lo pongo para generar la diferencia de espacio para que puedan
seguir modificando el footer sin inconveniente, ya que la medida que se tenía, descuadraba los
demas espascios */
.bodyCont{
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--pink);
}

.card{
    display: flex;
    flex-direction: row;
    border: 10px red ;
    box-shadow: 4px 8px 19px -3px rgba(211, 191, 191, 0.27);
    border-radius: 5px;
}


.card_child1 img{
    width: 200px;
    height: 150px;
}