/*Representar un body general con el color de
background elegido que ocupe el 100 % del alto de
la pantalla.*/

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('./G3Library.css');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --grey: #607D8B;
  --yellow: #1DBEB4;
  --blue: #383B58;
  /* --blue: #607D8B; */
  --black: #263238;
  --pink: #DFE4EA;
  --white: white;
  /* --orange: #F0572D; */
  --aquagreen: #1DBEB4;
  --purple: #383B58;
}

p {
  color: var(--yellow);
}

input::placeholder {
  color: #7F7F7F;
  font-weight: 600;
}

a {
	text-decoration: none;
}