/*Crear un header al 100 % de la pantalla y de
posición fija al tope de la página que se verá en
todas las pantallas de la aplicación,
 */
.header {
	position: sticky;
	top: 0;
	height: 80px;
	
}
.header_section {
	width:30%;
	gap: 2%;
}

