/* Modularization of components : Navbar */

/*Crear un header al 100 % de la pantalla y de
posición fija al tope de la página que se verá en
todas las pantallas de la aplicación,*/
.header1 {
    background-color: var(--pink);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

a{ text-decoration:none; }