
*{ font-family: 'Poppins', sans-serif; }


/*estilo global */
:root {
    --grey: #607D8B;
    --yellow:#FBC02D; 
    --blue: #607D8B;
    --black: #263238;  
    --pink:#FFFBE2;  
  }

.header-layout,.footer-layout {
    background-color: var(--grey);
    height: 100px;
    
    }

    .footer-layout{
        margin-top: 100vh;
        color: var(--yellow);
        
    }


    p{
        color: var(--grey) ;
    }


    button{
        font-family: 'Poppins', bold 16;
        float: right;
        background: var(--grey);
        color:var(--pink);
        border: 1px solid var(--yellow);
        border-radius: .65rem;
        padding: 15px 60px;
        position: relative;
        bottom: 50px;
        right: 50px;
    }

  