/* Modularization of components : Footer */

/*Crear un footer al 100 % del ancho de la pantalla y al
pie de la misma que se verá en todas las pantallas de
la aplicación, siguiendo el modelo de referencia.
■ Dentro del footer armar un bloque alineado a la
izquierda que incluya el isologotipo, el año y el
copyright.
■ Dentro del footer armar un bloque alineado a la
derecha que incluya íconos de redes sociales. Los
íconos no necesitan ser vinculados a ninguna página.*/
.footer1 {
  background-color: var(--grey);
  height: 100px;
  margin-top: 100vh;
  color: var(--yellow);
  
}