body {
  margin: 0;
  height:100vh; 
  background-color: var(--pink);

}

*{ font-family: 'Poppins', sans-serif; }

/*estilo global */
:root {
  --grey: #607D8B;
  --yellow:#FBC02D; 
  --blue: #607D8B;
  --black: #263238;  
  --pink:#FFFBE2;  
}